.side-bar
  .side-bar__header
    .side-bar__header__box
      .side-bar__header__box__name
        = current_user.name
      %ul.header__lists
        %li.list
          = link_to new_group_path do
            %i.fas.fa-edit
        %li.list
          = link_to edit_user_path(current_user) do
            %i.fas.fa-cog
  .side-bar_group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group), class: "link" do
          .group__name
            = group.name
          .group__text
            = group.show_last_message